In [13]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import datasets
Iris =datasets.load_iris()

In [9]:
from sklearn.ensemble import RandomForestClassifier

In [10]:
data=pd.read_csv("Iris.csv")

In [11]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [14]:
print(Iris.target_names)

['setosa' 'versicolor' 'virginica']

In [16]:
col_names = ['SepalLengthCm','SepalWidthCm','PetalLengthCm','Species']
pima = pd.read_csv('Iris.csv')

In [17]:
feature_cols = ['SepalLengthCm','SepalWidthCm','PetalLengthCm']
X = pima[feature_cols] 
y = pima.Species

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=1)

In [36]:
clf = RandomForestClassifier(n_estimators=100)
clf = clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)

In [37]:
from sklearn import metrics
print("Accuracy",metrics.accuracy_score(y_test,y_pred))

Accuracy 1.0